<ul class="list-group">
	<% @users.each do |user| %>
		<%= link_to "/users/#{user.id}/", class: "user text-decoration-none" do  %>
		<li class="list-group-item">
			<%= render 'shared/user', name: user.Name, photo: user.Photo, postsCount: user.PostsCounter %>
		</li>
	<% end %>
    <% end %>
</ul>
<div class="fixed-top d-flex justify-content-end">
	<%= link_to 'Create Post', posts_new_path, class: "btn btn-success" %>
</div>
