<ul class="list-group">
	<% @users.each do |user| %>
		<%= link_to "/users/#{user.id}/", class: "text-decoration-none" do  %>
		<li class="list-group-item">
			<%= render 'shared/user', name: user.Name, photo: user.Photo, postsCount: user.PostsCounter %>
		</li>
	<% end %>
    <% end %>
</ul>
