<div class="post">
	<h4><%= title %><h4>
	<p><%= text %><p>
	<p class="fs-5 text-secondary justify-content-end d-flex">
	  Comments: <%= commentsCounter %>,
	  Likes: <%= likesCounter %> 
	</p>
</div>
