<div class="container d-flex">
	<div>
		<img src= <%= photo %> class="img-fluid" alt="Responsive image" />
	</div>
	<div class="container ">
	
		<h2 class="text-success"> <%= name %> </h2>
		<p class="fs-5 text-secondary justify-content-end d-flex ">Number of posts: <%= postsCount %>
		
	</div>
</div>
